BCtrext.cc
BCtrextoui.c
BCtrextoui.o
BCtrext.o
glyoxalcol.cc
tm.dac
glyoxalcoloui.c
glyoxalcoloui.o
glyoxalcol.o
SB.o
glyoxalcmd.cc
glyoxalcmd.dat
glyoxalsrvr.o
glyoxalsrvroui.c
glyoxalsrvroui.o
glyoxaltbl.tmc
glyoxaldisp.cc
glyoxaldispoui.c
glyoxaldispoui.o
glyoxaldisp.o
glyoxaltblnc.tmc
glyoxaldispnc.cc
glyoxaldispncoui.c
glyoxaldispncoui.o
glyoxaldispnc.o
glyoxalsws.tma
glyoxalalgoa.tmc
glyoxalalgo.cc
glyoxalalgooui.c
glyoxalalgooui.o
glyoxalalgo.o
doit.dep
glyoxalclt.o
glyoxalcltoui.c
glyoxalcltoui.o
glyoxalcltnc.o
glyoxalcltncoui.c
glyoxalcltncoui.o
glyoxalengext.cdf
glyoxalengextcdf.oui
glyoxalengextcdf.tmc
glyoxalengext.cc
glyoxalengextoui.c
glyoxalengextoui.o
glyoxalengext.o
glyoxaltbl.tmc.dep
glyoxaltblnc.tmc.dep
*.err
Makefile
BCtrext
glyoxalcol
glyoxalsrvr
glyoxaldisp
glyoxaldispnc
glyoxalalgo
doit
glyoxalclt
glyoxalcltnc
glyoxalengext
